body {
    background-color: rgb(255, 247, 130);
    font-family: 'Courier New', Courier, monospace;
}

h1,h2 {
    text-align: center;
}

h1 {
    background-color: orangered;
}

h2 {
    background-color: orange;
}

img {
    width: 500px;
    height: auto;
}

li {
    background-color: orange;
    font-size: 20px;
}