body {
    background-color: rgb(255, 247, 130);
    font-family: 'Courier New', Courier, monospace;
}

h1,h2 {
    text-align: center;
    width: fit-content;
    padding: 10px;
    margin: auto;
}

h1 {
    background-color: orangered;
}

h2 {
    background-color: orange;
}

img {
    width: 500px;
    height: auto;
    margin: 40px auto;
    display: block;
}

li {
    background-color: rgb(216, 176, 44);
    font-size: 20px;
    margin: 8px 40px;
    padding: 4px;
    width: fit-content;
}

p {
    padding: 50px;
}